#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


@font-face {
  font-family: "Agrandir";
  src: 'url("../assets/red-hat-display.otf") format("opentype")';
}

/* Sizing of map container */

.leaflet-container {
  height: 100vh;
  z-index:1; 
}

/* #map{ z-index:1; }
#modal{ z-index:2; } */


.button-icon-transition {
  transition: transform 0.3s ease-in-out; /* Adjust transition as desired */
}